.star-necessary-input {
  color: red;
  font-size: 14px;
}

body {
  background-image: url(img/back.png);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: visible;
  margin-bottom: 30px;
}
.panel-heading{
color: rgb(236, 236, 236);
}
.panel-body {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 1.5% !important;
}

.navbar {
  background-color: white;
  border-bottom: 2px solid #2D6DAA;
  min-height: 70px;
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 500 
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
}

.th {
  text-align: center;
}

.essai_clinique {
  background-color:white;
  border-style: solid;
  border-width: 1px;
}

.sizeLogin {    
  font-size: 16px
}

.panel-connexion {
  padding-left: 25%;
  padding-right: 25%;
}
.caseMenu {
  background-color: #337ab7;
}
.profil{
  background-color: #353535;
}
.logout{
  background-color: #353535;
}

.caseMenu:hover {
background-color: white;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
  
}

.caseMenu1 {
background-color: #DADBDC;
}

.caseMenu1:hover {
background-color: #DDF378;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.caseAdmin{
background-color: #337ab7;
}

.marge {
  padding-top: 100px;
  padding-right: 4%;
  padding-bottom: 50px;
  padding-left: 25%;
}
.margeConexion{
padding-top: 100px;
}

/*****************************************************************/
/*side bar*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  /*margin-left: -15px;*/
  background-color: #2D6DAA;
  position: fixed;
  top: 68px;
  width: 20%;
  height: 100%;
  color: #e1ffff;
}
/* title */
.nav-side-menu .brand {
  background-color: #2D6DAA;
  line-height: 50px;
  display: block;
  text-align: center;
  color: #337ab7;
  font-size: 14px;
}

.brand2 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow1:before,
.nav-side-menu li :not(collapsed) .arrow1:before {
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
  vertical-align: middle;
  float: right;
  /*margin-bottom: 0;*/
}

.click {
  display:block;
  width: 100%;
  height: 100%;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #858181;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #353535;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #030302;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}
/*l'ongle gris left and bottom*/
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
/* couleur du text*/
.nav-side-menu li a{
  text-decoration: none;
  color: #FFFFFF;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
/* hover du menu */
.nav-side-menu li:not(.nohover):hover {
  border-left: 3px solid #FFFFFF;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 700px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-top: 2px;
    /*margin-bottom: 200px;*/
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #2D6DAA;
    color: #FFFFFF;
    width: 40px;
    font-size: 25px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .blank{
    margin-top: 80px;
  }
  .marge{
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
}
@media (min-width: 700px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.infoUser{
  font-size: 12px;
}
/* space between divs */ 
.space{
  margin-bottom: 5px;

}
/* space between divs for login*/ 
.space2{
margin-bottom: 14px;

}
/* space between text and buttons */
.connect {
float: left;
text-align: right;
}

/* length of buttons */
.custom {
  width: 200px !important;
}

/* Enlever les bordures de la class table bootstrap */
.borderless td, .borderless th {
border: none !important;
}

.notspaced td, .notspaced th {
padding : 1px !important;
}

/* length of buttons */
.customRemoveButton {
width: 108px !important;
}

/* length of buttons */
.customCancelButton {
width: 94px !important;
}
/*
.col-sm-3{
  /*    height: 150px;
      background-color:#01549b;
}
.col-sm-9{
  height: 160px;
  padding-top: 100px;
  padding-right : 5%;
}*/

.colorPerso {
  color: red;
}

.border{
  border-bottom: 2px solid #FFFFFF;
}

.borderUp{
  border-top: 2px solid #FFFFFF;
}

/* pour button detail dans la table*/
.center{
  text-align:center;
  vertical-align:middle;
 }
